<%= content_for(:title, @list.name) %>

<p><%= link_to "Home", lists_path %></p>

<h1>
  <%= link_to @list.name, edit_list_path(@list) %>
  <%= link_to "(x)", list_path(@list), data: {confirm: "Are you sure?", method: "delete"} %>
  <small><%= @list.description %></small>
</h1>

<p><%= link_to "Add a task", new_list_task_path(@list) %> </p>

<% if @list.tasks.any? %>
  <h4>Here are the tasks for this list:</h4>
  <ul class="list-unstyled">
    <% @list.tasks.each do |task| %>
      <li class="inline">
        <% if task.done %>
          <span class="strikethrough"><%= link_to task.description, edit_list_task_path(@list, task) %></span>
        <% else %>
          <%= link_to task.description, edit_list_task_path(@list, task) %>
        <% end %>

        <!-- mark as done -->
        <%= form_for [@list, task] do |f| %>
          <input name="_method" type="hidden" value="patch" />
          <%= f.hidden_field :done, :value => true %>
          <button type="submit" class="btn btn-primary btn-xs">done</button>
        <% end %>

        <%= link_to "(x)", list_task_path(@list, task), data: {confirm: "Are you sure?", method: "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tasks yet.</p>
<% end %>
